@import '../partials/colors.scss',
        '../partials/breakpoints.scss';

.nav{
    height: 400px;

    &__wrapper{
        background-color: $primary-dark;
    }

    &__bg{
        background-color: $primary-dark;
    }

}

.header{
    width: 500px;
    height: 500px;
    margin: -350px 0 -150px 0;
}

.projects{
    &__wrapper{
        background-color: $primary;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: $mobile-max) {
    
    .nav{
        height: 375px;
    }
    
    .header{
        width: 300px;
        height: 300px;
        margin: -232px 0 -68px 0;
    }

    .projects{
        &__list{
            grid-template-columns: 1fr;
        }
    }
}