// VENDOR
@import './partials/tailwind';

// VARIABLES
@import './partials/colors';

// RESPONSIVE
@import './partials/responsive';

// SHADOWS
@import './partials/shadows';

*{
    color: $white;
    line-height: 1.3em;
    box-sizing: border-box;
}

a{
    display: inline-block;
}