// VENDOR
@import './partials/tailwind';

// VARIABLES
@import './partials/colors';

// BREAKPOINTS
@import './partials/breakpoints.scss';

// RESPONSIVE
@import './partials/responsive';

// SHADOWS
@import './partials/shadows';

// FONTS
@import './partials/fonts';

*{
    color: $white;
    line-height: 1.3em;
    box-sizing: border-box;
}

body{
    background-color: $primary;
}

a{
    display: inline-block;
}

.lock{
    overflow: hidden;
}